#clockcontainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(clock1.jpg) no-repeat;
    background-size: 100%;
    margin: auto;
}
#Hours, #Minute, #Second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#Hours{ 
    height: 19%;
    width: 1.8%;
    top: 27%;
    left: 50%;
    opacity: 0.8;
}    
#Minute{
    height: 27%;
    width: 1.6%;
    top: 20%;
    left: 50%;
    opacity: 0.8;    
}  
#Second{
    height: 31%;
    width: 1%;
    top: 15%;
    left: 50.4%;
    opacity: 0.8;
}
